// ヘッダー
= render 'component/header'
// サイドバー
= render 'component/sidebar'

%main
  .what-wrapper
    .container.px-1
      .what-box
        %h1.what-box__title ideaSpaceとは？
        .what-box__description
          %p ideaSpaceとは、普段の生活の中で思いついたアイデアを、気軽に「投稿」＆「共有」できるサービスです。
          %p 例えば、、、
          %p「こんなサービスあったらいいな」
          %p「こんな商品があったら絶対買うのに」
          %p「こんな食べ物があったら売れると思う」
          %p「こんな施設があったら世の中はもっと便利になる」
          %p「こんな集まりがあったら是非参加したい」
          %p 上記の例以外にも、ジャンルを問わずあなたが思いつくアイデアを是非投稿してみて下さい。

// フッター
= render 'component/footer'