@import '../common/variables';
.index-top {
  position: relative;
  padding-top: 180px;
  width: 100%;
  height: 500px;
  background-color: $sub;
  text-align: center;
  h1 {
    color: $white;
    font-size: 2.5rem;
  }
  br {
    display: none;
  }
  img {
    position: absolute;
    right: 70px;
    bottom: 10px;
    width: 300px;
    height: auto;
  }
  .btn {
    margin-top: 5rem;
  }
}

.search-title {
  display: inline-block;
  margin: 1rem 0 0 .5rem;
  font-size: 1.2rem;
  cursor: pointer;
  .fa-search-plus {
    display: none;
  }
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
  -ms-flex-align: baseline;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  &__select-wrap {
    position: relative;
    display: inline-block;
    margin: 1rem 1rem 0 0;
    width: 160px;
    select {
      padding: 0 1rem;
      width: 100%;
      outline: none;
      border: 1px solid #333;
      border-radius: 30px;
      font-size: .9rem;
      line-height: 1.5rem;
      cursor: pointer;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
    }
    .fas {
      position: absolute;
      top: -2px;
      right: 10px;
      font-size: 1.4rem;
    }
  }
  &__submit {
    outline: none;
    border: none;
    border-radius: 15px;
    background: none;
    background: -webkit-gradient(linear, left top, right top, from($sub), to(#4288cf));
    background: linear-gradient(to right, $sub, #4288cf);
    color: $white;
    font-size: .9rem;
    line-height: 1.5rem;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
}
