@import '../common/variables';
.search-wrapper {
  &__title {
    &:before, &:after {
      display: none!important;
    }
    .fa-search {
      font-size: 2.2rem!important;
    }
    span {
      font-size: 1.4rem;
      font-family: 'M PLUS Rounded 1c', sans-serif;
    }
  }
  .search-title {
    display: block;
    margin-top: 5rem;
  }
  .search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    -ms-flex-align: baseline;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.pagination {
  height: auto;
  &__inner {
    display: inline-block;
    overflow: hidden;
    padding: 8px 0;
    border: 1px solid gray;
    border-radius: 3px;
    span {
      padding: 8px;
      border-right: 1px solid gray;
      color: $main;
      > a {
        color: $main;
      }
      &:last-of-type {
        border: none;
      }
    }
    .current {
      background: $sub;
      color: $white;
    }
  }
}
