@import '../common/variables';
.post-wrapper {
  padding: 7rem 0 3rem;
  text-align: center;
  #slide {
    margin-top: 1.5rem;
    display: none;
    img {
      animation: Flashing 2s infinite linear;
      display: block;
      width: 250px;
      height: auto;
    }
  }
  &__title {
    position: relative;
    letter-spacing: .2rem;
    font-size: 2.3rem;
    .far, .fas, .fab {
      font-size: 3rem;
    }
  }
}

.idea-show {
  width: 80%!important;
  margin: 1rem auto 0!important;
  height: 500px!important;
  &:hover {
    box-shadow: 0 1px 5px #999;
    transition: none;
    transform: none;
  }
  &__top {
    word-break: break-all;
    position: relative;
    height: calc(100% - 100px)!important;
    &--text {
      margin: 1rem 0;
    }
  }
  &__bottom {
    height: 100px;
  }
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, .8);
  z-index: 100;
}

.comment-box {
  display: none;
  text-align: center;
  z-index: 110;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 4rem;
  &__title {
    color: white;
  }
  &__input {
    margin-top: 2rem;
    font-size: 1.1rem;
    padding: .5rem 1rem;
    border: 5px solid $main;
    border-radius: 3px;
    width: 60%;
    height: 200px;
  }
  &__btn {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
  }
}

.comments-wrapper {
  h2 {
    text-align: center;
  }
}
.comments-list {
  width: 77%;
  margin: 3rem auto;
  height: auto;
  &__item {
    position: relative;
    padding: 1.5rem 0;
    border-bottom: 2px dashed $black;
    display: flex;
    justify-content: left;
    align-items: center;
    &--img {
      width: 50px;
      height: auto;
    }
    &--user-name {
      margin-left: .5rem;
      font-size: 1rem;
    }
    &--content {
      margin-left: .5rem;
      font-size: 1.2rem;
    }
    &--destroy {
      position: absolute;
      bottom: 5px;
      right: 10px;
      font-size: .8rem;
    }
  }
}