@import '../common/variables';
.post-wrapper {
  padding: 7rem 0;
  text-align: center;
  #slide {
    margin-top: 1.5rem;
    display: none;
    img {
      animation: Flashing 2s infinite linear;
      display: block;
      width: 250px;
      height: auto;
    }
  }
  &__title {
    position: relative;
    letter-spacing: .2rem;
    font-size: 2.3rem;
    .far, .fas, .fab {
      font-size: 3rem;
    }
  }
}

.idea-show {
  width: 80%!important;
  margin: 1rem auto 0!important;
  height: 500px!important;
  &:hover {
    box-shadow: 0 1px 5px #999;
    transition: none;
    transform: none;
  }
  &__top {
    word-break: break-all;
    position: relative;
    height: calc(100% - 100px)!important;
    &--text {
      margin: 1rem 0;
    }
  }
  &__bottom {
    height: 100px;
    &--user-name {
      margin: 0 auto 0 1rem;
      font-size: 1.2rem;
    }
  }
}