@import '../common/variables';
.what-wrapper {
  background: url('top');
  background-position: center;
  background-size: cover;
  height: auto;
  padding: 7rem 0 3rem;
}

.what-box {
  margin: 0 auto;
  border-radius: 3px;
  border: 5px solid $sub;
  text-align: center;
  height: auto;
  width: 100%;
  background: $white;
  padding: 2rem 3rem;
  &__description {
    text-align: left;
    font-size: 1.1rem;
    margin-top: 2rem;
    line-height: 2rem;
  }
  &__btn {
    margin-top: 2rem!important;
  }
}
