%header.header
  .header__inner
    .menu-trigger
      %span
      %span
      %span
    = link_to root_path do
      = image_tag '/assets/logo-light.png', class: 'header__logo'
    .header__inner--signup
      新規登録
    .header__inner--login
      ログイン