@import './variables';

// エラーメッセージ
#error_explanation {
  margin-top: 1rem;
  h2 {
    color: $danger;
  }
  ul {
    margin-top: 1rem;
    li {
      color: $danger;
    }
  }
}

// 投稿ボタン
.post-btn {
  width: 100px;
  height: 100px;
  background: $main;
  position: fixed;
  border-radius: 50%;
  bottom: 10px;
  right: 10px;
  .fa-lightbulb {
    color: $white;
    position: fixed;
    bottom: 35px;
    right: 43px;
    font-size: 3rem;
  }
}

// ボタン
.btn {
  line-height: 35px;
  display: inline-block;
  width: 250px;
  margin-top: 2rem;
  padding: 1rem 3rem;
  outline: none;
  border: none;
  border-radius: 40px;
  color: $white;
  font-size: 1.5rem;
  cursor: pointer;
}
.btn-accent {
  background: linear-gradient(to right, $accent, #ffce3b);
}
.btn-sub {
  background: linear-gradient(to right, $sub, #4288cf);
}
.btn-danger {
  background: linear-gradient(to right, #c0392b, $danger);
}

// 見出し
.posts-wrapper {
  padding: 7rem 0;
  text-align: center;
  #slide {
    margin-top: 1.5rem;
    display: none;
    img {
      animation: Flashing 2s infinite linear;
      display: block;
      width: 250px;
      height: auto;
    }
  }
  &__title {
    position: relative;
    letter-spacing: .2rem;
    font-size: 2.3rem;
    .far, .fas, .fab {
      font-size: 3rem;
    }
    &:before {
      content: '';
      position: absolute;
      top: 60%;
      left: .8rem;
      width: 350px;
      height: 2px;
      background: $black;
    }
    &:after {
      content: '';
      position: absolute;
      top: 60%;
      right: .8rem;
      width: 350px;
      height: 2px;
      background: $black;
    }
  }
}

// サイト紹介、退会ページ
.other-wrapper {
  background: url('top');
  background-position: center;
  height: auto;
  padding: 7rem 0 3rem;
}

.other-box {
  margin: 0 auto;
  border-radius: 3px;
  border: 5px solid $sub;
  text-align: center;
  height: auto;
  width: 100%;
  background: $white;
  padding: 2rem 3rem;
  &__title {
    border-bottom: 4px dotted $main;
    padding-bottom: 1rem;
  }
  &__description {
    font-size: 1.1rem;
    margin-top: 2rem;
    line-height: 2rem;
    ul {
      text-align: left;
      display: inline-block;
      li {
        margin-top: 1rem;
      }
    }
  }
  &__btn {
    margin-top: 2rem!important;
  }
}


@keyframes Flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}