@import "./common/variables";

@media screen and (max-width: 1024px) {
  //---------------------- Header ---------------------------//
  .header__inner {
    &--signup, &--login {
      display: none;
    }
  }
  .posts-wrapper, .my-posts-wrapper {
    &__title {
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
    }
  }

  //---------------------- Jumbotron ---------------------------//
  .jumbotron {
    &__inner {
      height: 150px;
      width: 500px;
      &--light {
        position: absolute;
        top: -17%;
        left: -7.5%;
        width: 90px;
        height: auto;
        transform-origin: bottom;
        animation: light 2.5s linear infinite;
      }
      &--logo-none {
        width: 500px;
        top: 60%;
      }
    }
    .lead {
      font-size: 2.3rem;
      line-height: 3.5rem;
      br {
        display: inline!important;
      }
    }
  }

  //---------------------- Ideas#Index ---------------------------//
  .index-top {
    h1 {
      line-height: 3rem;
    }
    br {
      display: block;
    }
    img {
      right: 20px;
      width: 250px;
    }
  }

  //---------------------- Ideas#New ---------------------------//
  .form-section {
    input, textarea {
      width: 80%;
    }
  }

  //---------------------- Ideas#Show ---------------------------//
  .idea-show {
    width: 100%!important;
  }

}// End 1024px



@media screen and (max-width: 500px) {
  //---------------------- Common ---------------------------//
  .btn, .form-section input[type='submit'] {
    padding: .5rem 3rem;
  }
  .mr-5 {
    margin-right: 0;
  }
  .header {
    font-size: 1rem;
  }
  .posts-wrapper, .my-posts-wrapper {
    padding: 7rem 0;
    text-align: center;
    #slide {
      display: inline-block;
    }
    &__title {
      position: relative;
      letter-spacing: .2rem;
      font-size: 2rem;
      .far, .fas, .fab {
        font-size: 2.7rem;
      }
    }
  }
  .card-wrapper {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vw);
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    margin: 1rem 0 0;
    padding: 2.5rem .8em .8rem;
  }

  .card {
    scroll-snap-align: center;
    margin-right: .8rem;
    width: calc(100vw - 1.6rem);
    flex: none;
    height: 400px;
    &__top {
      &--title {
        font-size: 1.5rem;
      }
      &--text {
        font-size: 1rem;
      }
    }
  }

  //---------------------- Sidebar ---------------------------//
  .sidebar {
    width: 100vw;
    transform: translateX(-100vw);
  }

  //---------------------- Jumbotron ---------------------------//
  .jumbotron {
    padding-top: 140px;
    &__inner {
      width: 300px;
      &--light {
        position: absolute;
        top: 9%;
        left: -5.3%;
        width: 60px;
        height: auto;
        transform-origin: bottom;
        animation: light 2.5s linear infinite;
      }
      &--logo-none {
        width: 280px;
        top: 60%;
      }
    }
    .lead {
      font-size: 1.4rem;
      line-height: 2rem;
    }
    .btn {
      margin-top: 1.5rem;
    }
  }

  //---------------------- Ideas#Index ---------------------------//
  .index-top {
    padding-top: 130px;
    h1 {
      font-size: 1.7rem;
      line-height: 3rem;
    }
    br {
      display: block;
    }
    img {
      right: 20px;
      width: 200px;
    }
    .btn {
      margin-top: 1.5rem;
    }
  }
  //---------------------- Ideas#New ---------------------------//
  .form-section {
    input, textarea {
      width: 100%;
    }
  }

  //---------------------- Users#Show ---------------------------//
  .user-top {
    text-align: center;
    padding: 180px 0 1rem;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, $sub, #5eaeff);;
    &__img-wrap {
      position: relative;
      img {
        border: 5px solid $accent;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
      }
      .likes-count {
        position: absolute;
        top: -28%;
        left: 50%;
        transform: translateX(-50%);
        p {
          color: $white;
          font-size: 1.2rem;
        }
        .fa-heart {
          margin-top: 0.3rem;
          color: $white;
          font-size: 1.2rem;
        }
      }
    }
    .point {
      margin-top: .8rem;
      font-size: 1rem;
      color: $white;
    }
  }
  .status-list {
    margin-top: 3rem;
    width: 90%;
    li {
      .number {
        font-size: .9rem;
      }
      p {
        font-size: .9rem;
      }
      &:first-of-type {
        margin-left: .8rem;
      }
    }
  }

  //---------------------- Ideas#Show ---------------------------//
  .idea-show {
    height: auto!important;
    &__top {
      padding: 10px 10px 30px;
      &--user-name {
        display: inline-block;
      }
    }
    &__bottom {
      &--user-name {
        display: none;
      }
    }
  }

}// End 500px