@import './common/variables';

// -------------------------------------------------------- 1024px ----------------------------------------------------- //
@media screen and (max-width: 1024px) {
  //---------------------- Header ---------------------------//
  .header__inner {
    &--signup, &--login {
      display: none;
    }
  }
  .posts-wrapper, .my-posts-wrapper {
    &__title {
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
    }
  }

  //---------------------- Jumbotron ---------------------------//
  .jumbotron {
    &__inner {
      width: 500px;
      height: 150px;
      &--light {
        position: absolute;
        top: -17%;
        left: -7.5%;
        width: 90px;
        height: auto;
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
        -webkit-animation: light 2.5s linear infinite;
                animation: light 2.5s linear infinite;
      }
      &--logo-none {
        top: 60%;
        width: 500px;
      }
    }
    .lead {
      font-size: 2.3rem;
      line-height: 3.5rem;
      br {
        display: inline!important;
      }
    }
  }

  //---------------------- Footer ---------------------------//
  .footer-top {
    width: 100%;
    height: auto;
    background: $main;
    .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -ms-flex-align: center;
      -ms-flex-flow: column;
          flex-flow: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
    }
    &__logo {
      display: none;
    }
    &__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -ms-flex-align: center;
      -ms-flex-flow: column;
          flex-flow: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      margin-top: 0rem;
      width: 100%;
      text-align: center;
      font-size: .9rem;
      li {
        margin: 0;
        padding: 1rem 0;
        width: 100%;
        border-bottom: 1px solid $white;
        font-size: .8rem;
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
  .footer-link {
    color: $white;
    .fa-angle-right {
      color: $white;
    }
  }

  //---------------------- Ideas#Index ---------------------------//
  .index-top {
    h1 {
      line-height: 3rem;
    }
    br {
      display: block;
    }
    img {
      right: 20px;
      width: 250px;
    }
  }

  //---------------------- Ideas#New ---------------------------//
  .form-section {
    input, textarea {
      width: 80%;
    }
  }

  //---------------------- Ideas#Show ---------------------------//
  .idea-show {
    width: 100%!important;
  }
  .comment-box, .edit-box {
    &__input {
      width: 100%;
    }
    &__btn {
      width: 100%;
    }
  }
  .comments-list {
    margin: 2.5rem auto;
    width: 100%;
    height: auto;
  }

  //---------------------- Users#Show ---------------------------//
  .avatar-wrap {
    position: relative;
    width: 300px;
    &__box {
      width: 300px;
    }
  }

  .follow-list {
    &__item {
      width: 90%;
    }
  }
}// End 1024px





// -------------------------------------------------------- 500px ----------------------------------------------------- //
@media screen and (max-width: 500px) {
  //---------------------- Common ---------------------------//
  .btn {
    margin-top: 0rem;
  }
  .btn, .form-section input[type='submit'] {
    padding: .5rem 3rem;
  }
  .mr-5 {
    margin-right: 0;
  }
  .header {
    font-size: 1rem;
  }
  .posts-wrapper, .my-posts-wrapper {
    padding: 7rem 0;
    text-align: center;
    #slide {
      display: inline-block;
    }
    &__title {
      position: relative;
      letter-spacing: .2rem;
      font-size: 1.6rem;
      .far, .fas, .fab {
        font-size: 2rem;
      }
    }
  }
  .card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    margin: 1rem 0 0;
    padding: 2.5rem .8em .8rem;
    -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
    -ms-scroll-snap-points-y: repeat(100vw);
        scroll-snap-points-y: repeat(100vw);
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .card {
    -webkit-box-flex: 0;
    -ms-flex: none;
        flex: none;
    margin-right: .8rem;
    width: calc(100vw - 1.6rem);
    height: 400px;

    scroll-snap-align: center;
    &__top {
      &--title {
        font-size: 1.2rem;
      }
      &--text {
        font-size: 1rem;
      }
    }
    &__bottom {
      .btn-box {
        &__btn {
          margin-right: .5rem;
          width: 45px;
          height: 45px;
        }
        .fas {
          font-size: 1.2rem;
        }
      }
    }
  }
  .flash-box {
    margin: 0 auto;
    width: 90%;
  }
  #error_explanation {
    h2 {
      font-size: 1.4rem;
    }
  }
  .form-section {
    h3 {
      font-size: 1.3rem;
    }
    input, textarea {
      width: 100%;
    }
  }

  //---------------------- Sidebar ---------------------------//
  .sidebar {
    width: 100vw;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }

  //---------------------- Jumbotron ---------------------------//
  .jumbotron {
    padding-top: 140px;
    &__inner {
      width: 300px;
      &--light {
        position: absolute;
        top: 9%;
        left: -5.3%;
        width: 60px;
        height: auto;
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
        -webkit-animation: light 2.5s linear infinite;
                animation: light 2.5s linear infinite;
      }
      &--logo-none {
        top: 60%;
        width: 280px;
      }
    }
    .lead {
      font-size: 1.4rem;
      line-height: 2rem;
    }
    .btn {
      margin-top: 1.5rem;
    }
  }

  //---------------------- Ideas#Index ---------------------------//
  .index-top {
    padding-top: 130px;
    h1 {
      font-size: 1.7rem;
      line-height: 3rem;
    }
    br {
      display: block;
    }
    img {
      right: 20px;
      width: 200px;
    }
    .btn {
      margin-top: 1.5rem;
    }
  }
  .search-title {
    display: block;
    text-align: center;
  }
  .search-form {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-flow: column;
        flex-flow: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    margin-left: 1rem;
    &__submit {
      margin: 1rem 1rem 0 0;
    }
  }

  //---------------------- Users#Show ---------------------------//
  .user-top {
    padding: 180px 0 1rem;
    width: 100%;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, from($sub), to(#5eaeff));
    background: linear-gradient(to bottom, $sub, #5eaeff);
    text-align: center;;
    &__img-wrap {
      position: relative;
      img {
        width: 200px;
        height: 200px;
        border: 5px solid $accent;
        border-radius: 50%;

        -o-object-fit: cover;
           object-fit: cover;
      }
      .likes-count {
        position: absolute;
        top: -28%;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        p {
          color: $white;
          font-size: 1.2rem;
        }
        .fa-heart {
          margin-top: .3rem;
          color: $white;
          font-size: 1.2rem;
        }
      }
    }
  }
  .status-list {
    margin-top: 3rem;
    width: 90%;
    li {
      .number {
        font-size: 1rem;
      }
      p {
        font-size: 1rem;
      }
      &:first-of-type {
        margin-left: .8rem;
      }
    }
  }
  .select-ng {
    padding: .5rem 0!important;
  }
  .follow-list {
    margin: 2rem 0;
    &__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: left;
      -ms-flex-pack: left;
      justify-content: left;
      margin: 0 auto;
      padding: 0 .5rem;
      width: 90%;
      border-bottom: 2px dashed $sub;
      &--img {
        width: 50px;
        height: auto;
      }
      &--user-name {
        font-size: 1rem;
      }
    }
  }

  //---------------------- Ideas#Show ---------------------------//
  .comment-box, .edit-box {
    &__btn {
      -ms-flex-flow: column;
          flex-flow: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      .btn {
        margin-top: 2rem;
      }
    }
  }
  .comment-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-flow: column;
        flex-flow: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    &__user-icon {
      width: 50px;
      height: auto;
    }
    &__user-name {
      margin-left: .5rem;
      font-size: .8rem;
    }
  }
  .comment-right {
    margin-left: .5rem;
    width: calc(100% - 100px);
    font-size: .9rem;
  }


  //---------------------- Ideas#Search ---------------------------//
  .search-wrapper {
    &__title {
      &:before, &:after {
        display: none!important;
      }
      .fa-search {
        font-size: 2.2rem!important;
      }
    }
    .search-title {
      display: block;
      margin-top: 5rem;
    }
    .search-form {
      -webkit-box-align: center;
      align-items: center;
      -ms-flex-align: center;
      -ms-flex-flow: column;
          flex-flow: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      margin-left: 1rem;
      &__submit {
        margin: 1rem 1rem 0 0;
      }
    }
  }

  //---------------------- Ideas#What ---------------------------//
  .other-box {
    padding: 1.5rem 1rem 2rem;
    &__title {
      font-size: 1.6rem;
    }
    &__description {
      margin-top: 1.5rem;
      font-size: 1rem;
      line-height: 1.8rem;
    }
    &__btn {
      font-size: 1.2rem;
    }
  }
}// End 500px
