@import '../common/variables';
.user-top {
  text-align: center;
  padding: 180px 0 1rem;
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, $sub, #5eaeff);;
  &__img-wrap {
    position: relative;
    img {
      cursor: pointer;
      border: 5px solid $accent;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
    .likes-count {
      position: absolute;
      top: -33%;
      left: 50%;
      transform: translateX(-50%);
      p {
        color: $white;
        font-size: 1.5rem;
      }
      .fa-heart {
        margin-top: 0.3rem;
        color: $white;
        font-size: 1.5rem;
      }
    }
  }
  h1 {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: $white;
    .fas {
      font-size: 1.5rem;
      margin-left: .3rem;
      color: $white;
    }
  }
}
.status-list {
  width: 90%;
  margin: 4rem auto 0;
  display: flex;
  justify-content: space-around;
  align-items: end;
  li {
    margin-right: 1.6rem;
    .number {
      font-size: 1.2rem;
      letter-spacing: 2px;
      color: $white;
    }
    p {
      cursor: pointer;
      margin-top: .5rem;
      font-size: 1.4rem;
      color: $white;
      transition: .3s;
      &:hover {
        transition: .3s;
        transform: translateY(-3px);
        text-shadow: 0 5px 5px $sub;
      }
    }
    &:last-child {
      p {
        margin-top: 1.6rem;
      }
    }
  }
}

.my-posts-wrapper {
  padding: 7rem 0;
  text-align: center;
  #slide {
    margin-top: 1.5rem;
    display: none;
    img {
      animation: Flashing 2s infinite linear;
      display: block;
      width: 250px;
      height: auto;
    }
  }
  &__title {
    position: relative;
    letter-spacing: .2rem;
    font-size: 2.3rem;
    .far, .fas, .fab {
      font-size: 3rem;
    }
    &:before {
      content: '';
      position: absolute;
      top: 60%;
      left: .8rem;
      width: 300px;
      height: 2px;
      background: #333;
    }
    &:after {
      content: '';
      position: absolute;
      top: 60%;
      right: .8rem;
      width: 300px;
      height: 2px;
      background: #333;
    }
  }

}

.like-posts-wrapper {
  display: none;
  &__title {
    &:before {
      content: '';
      position: absolute;
      top: 60%;
      left: .8rem;
      width: 290px!important;
      height: 2px;
      background: $black;
    }
    &:after {
      content: '';
      position: absolute;
      top: 60%;
      right: .8rem;
      width: 290px!important;
      height: 2px;
      background: $black;
    }
    .fa-heart {
      font-size: 2.4rem!important;
    }
  }
}

.back {
  display: none;
  cursor: pointer;
  padding-top: 1rem;
  margin-left: 1rem;
  .fa-arrow-alt-circle-left {
    font-size: 2rem;
  }
}

.avatar-wrapper {animation: Flashing 2s infinite linear;
  display: none;
  text-align: center;
  z-index: 110;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  &__title {
    margin-right: 1rem;
    color: $white;
    .fa-arrow-alt-circle-left {
      cursor: pointer;
      color: $white;
      font-size: 2rem;
    }
  }
  &__slide {
    animation: Flashing 2s infinite linear;
    margin-top: 2rem;
    width: 200px;
    height: auto;
  }
}
.avatar-wrap {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  &__box {
    padding: 3rem 0;
    position: relative;
    // width: 300px;
    width: 400px;
    scroll-snap-align: center;
    flex: none;
    &--img {
      width: 200px;
      height: auto;
      border-radius: 50%;
    }
    &--conditions {
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      color: $white;
      p {
        color: $white;
        font-size: 1.3rem;
        .fa-heart {
          color: $white;
        }
      }
    }
    .select-ng {
      width: 280px;
      padding: 1rem;
      background: gray;
    }
  }
}

@keyframes Flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}